
/* --- RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- TYPOGRAPHY --- */

body {
    text-align: center;
    color: #eeeeee;
    font-family: 'Verdana', sans-serif;
}

h2 {
    font-size: 3rem;
    line-height: 2.25rem;
}

h3 {
    font-size: 2.5rem; 
    line-height: 2.25rem;
}

h4 {
    font-size: 1.2rem; 
    line-height: 2.25rem;
}

.display {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
}

.quarter {
    font-size: 3.5rem;
}

.time {
    font-size: 6rem; 
}

.score {
    font-size: 5rem; 
}

.fouls {
    font-size: 3rem;
}

button {
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 1.125rem;
}

/* --- LAYOUT --- */

body {
    background-color: #1B244A;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.display {
    background-color: #080001;
}

.timer{
    margin-top: 1rem;
    height: 8rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teams {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.teams div {
    border-radius: 15px;
    padding: 0.5rem 0.2rem;
}

.team-winner {
    background-color: rgba(62, 220, 0, 0.5);
}

.score {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 6.5rem;
    padding-top: 0.5rem;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
}

button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 1px solid #9AABD8;
    border-radius: 3px;
}

h4 {
    margin-top: -0.8rem;
}

.fouls-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fouls {
    width: 50%;
    margin-bottom: 0.5rem;
    height: 4rem;
    padding-top: 0.5rem;
    border-radius: 5px;
}

.fouls-display button {
    height: 35px;
    width: 35px;
    margin-left: 0.8rem;
}

.reset-btn {
    width: 120px;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
