/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.post-user,
.likes-count,
.comment-user {
  font-weight: bold;
}

/* LAYOUT */

body {
  background-color: #ededed;
  font-size: 13px;
}

header,
.post {
  background-color: white;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 0.8em;
  border-bottom: 1px solid #c6c6c6;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.logo {
  width: 127px;
  /* object-fit: cover; */
}

.post {
  margin-bottom: 2.5em;
  padding-bottom: 1em;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 0.7em 0.8em;
}

.post-header div {
  margin-left: 0.4em;
}

.post-image {
  width: 100%;
}

.social-interactions {
  display: flex;
  padding: 0.9em 0.5em;
}

.social-interactions img {
  width: 8%;
  margin-right: 0.8em;
}

.social-interactions img:hover {
  cursor: pointer;
  opacity: 0.3;
}

.comment,
.likes-count {
  margin-left: 1em;
}

.comment {
  margin-right: 0.5em;
  margin-top: 1em;
}

.comment-user {
  margin-right: 0.5em;
}

.liked {
  filter: invert(29%) sepia(92%) saturate(4414%) hue-rotate(348deg)
    brightness(98%) contrast(107%);
}
